/****************************
Date de création : 28/02/2016
Projet : Buena Onda
Page : Cartes
****************************/

/*=========================*/
/*=== Choix de la carte ===*/
/*=========================*/

/* Computer */

#main-slider-wrapper { 
    width: 90% !important;
    margin: auto;
}