/*==========================*/
/*======== Commande ========*/
/*==========================*/
#body {
	width: 96%;
	max-width: 1060px;
	margin: 0 auto;
}
h1#titleCommande {
	width: 93%;
	font-family: 'VAG Rounded Bold';
	font-size: 3.5em;
	color: #00a0e0;
	text-align: right;
	text-transform: uppercase;
	margin: -70px 0 50px;
	padding-right: 7%;
}

/* En Livraison via Deliveroo */
#livraison {
	float: right;
	width: 44.7%;
	padding-bottom: 40px;
	border-left: 8px solid #BD9C5F;
	border-bottom: 8px solid #BD9C5F;
}
#livraison h2 {
	font-size: 1.7em;
	text-align: left;
	text-transform: uppercase;
	padding-left: 14%;
	margin: -56px 0 40px;
}
#livraison p {
	padding: 0 3.5%;
}
#livraison p span { font-size: 1.2em; }
#livraison p span span { font-size: 1em; }
#livraison a#deliverooLink img {
	display: block;
	float: right;
	width: 65%;
	margin: -8px 0 0 0;
}

/* À Emporter */
ul#card-content {
	width: 48.4%;
	float: left;
	font-size: 1.1em;
	line-height: 1.35em;
}
ul#card-content li {
	cursor: pointer;
	color: #049ede;
	text-transform: uppercase;
	font-size: 1.1em;
	font-weight: bold;
	margin-bottom: 10px;
}
.content-toggle { margin-bottom: 20px; }
.content-toggle p {
	margin-bottom: 10px;
	color: #049ede;
}
span.title, span.description , span.prix {
	display: block;
	float: left;
	margin-right: 2%;
}
span.title {
	clear: both;
	color: #049ede;
}
span.noTitle { clear: right; }
span.clearLeft { clear: left; }
span.prix {
	float: right;
	background: rgba(255, 255, 255, 0.1);
}
select.numberOf { float: right; }
img.bag {
	float: right;
	cursor: pointer;
}
form {
	clear: left;
	padding: 20px 0 10px 10%;
}
form#formGeneral { padding-left: 0; }
input[type="submit"] {
	display: block;
}