/*======================*/
/*======== Home ========*/
/*======================*/
#youAndUs {
	max-width: 1300px;
	margin: 70px auto 60px;
	padding: 0 1%;
}
#youAndUs .oneOfThree {
	float: left;
	width: 29.3%;
	margin: 0 2%;
}
#youAndUs .oneOfThree h2.blueTitle { color: #0899d5; }
#youAndUs .oneOfThree h2 span.line {
	display: block;
	float: left;
	height: 1.8em;
	border-bottom: 3px solid #b0a07c;
}
#youAndUs .oneOfThree h2 span.lineBlue {
	border-bottom: 3px solid #0899d5;
	height: 3px;
}
#youAndUs .oneOfThree h2 span.title {
	float: left;
	width: 72%;
	text-align: center;
	text-transform: uppercase;
	font-size: 2.2em;
}
#youAndUs .regal h2 span.line { width: 22%; }
#youAndUs .regal h2 span.title { width: 56%; }
#youAndUs .invite h2 span.line { width: 22%; }
#youAndUs .invite h2 span.title { width: 56%; }
#youAndUs .invite h2.blueTitle span.line { width: 2%; }
#youAndUs .invite h2.blueTitle span.title { width: 96%; }
#youAndUs .voyage h2 span.line { width: 12%; }
#youAndUs .voyage h2 span.title { width: 76%; }
#youAndUs .voyage h2.blueTitle span.line { width: 4%; }
#youAndUs .voyage h2.blueTitle span.title { width: 92%; }
#youAndUs .oneOfThree img { margin: 30px auto; }
#youAndUs .oneOfThree p {
	text-align: justify;
	font-size: 1em;
	margin-top: 20px;
	min-height: 80px;
}
#youAndUs .oneOfThree p.link {
	text-align: right;
	color: #0899d5;
	margin: 24px 0 0;
}
#youAndUs .oneOfThree p.link a { color: #0899d5; }
#youAndUs .oneOfThree p.link a:hover, #youAndUs .oneOfThree p.link a:focus { color: #c2a472; }

@media only screen and (max-width: 1280px) {
	#youAndUs .oneOfThree h2 { min-height: 80px; }
	#youAndUs .oneOfThree h2 span.lineBlue { height: 1.8em; }
	#youAndUs .regal h2 span.line, #youAndUs .invite h2 span.line, #youAndUs .voyage h2 span.line { width: 28%; }
	#youAndUs .regal h2 span.title, #youAndUs .invite h2 span.title, #youAndUs .voyage h2 span.title { width: 44%; }
	#youAndUs .invite h2.blueTitle span.line, #youAndUs .voyage h2.blueTitle span.line { width: 12%; }
	#youAndUs .invite h2.blueTitle span.title, #youAndUs .voyage h2.blueTitle span.title { width: 76%; }
}
@media only screen and (max-width: 1120px) {
	#youAndUs .regal h2 span.line, #youAndUs .invite h2 span.line, #youAndUs .voyage h2 span.line { width: 10%; }
	#youAndUs .regal h2 span.title, #youAndUs .invite h2 span.title, #youAndUs .voyage h2 span.title { width: 80%; }
}

/* Responsive Tablette */
@media only screen and (max-width: 960px) {
	#youAndUs .oneOfThree {
		width: 40%;
		margin: 0 5%;
	}
	#youAndUs .voyage { margin: 0 30%; }
}
@media only screen and (max-width: 800px) {
	#youAndUs .oneOfThree {
		width: 46%;
		margin: 0 2%;
	}
	#youAndUs .voyage { margin: 0 28%; }
}

/* Responsive Smartphone */
@media only screen and (max-width: 600px) {
	#youAndUs .oneOfThree {
		float: none;
		width: 100%;
		max-width: 385px;
		margin: 0 auto 30px;
	}
}
@media only screen and (max-width: 500px) {
	#youAndUs .oneOfThree { width: 70%; }
	#youAndUs .regal h2, #youAndUs .invite > h2 { min-height: 40px; }
}
@media only screen and (max-width: 380px) {
	#youAndUs .oneOfThree h2 span.line { display: none; }
	#youAndUs .oneOfThree h2 span.title {
		width: 100% !important;
	}
}