/****************************
Date de création : 09/02/2016
Projet : Buena Onda
****************************/

/*=========================*/
/*======== Général ========*/
/*=========================*/
/* Fonts */
@font-face {
    font-family: 'Futura Medium';
    src: url('font/futura-medium-webfont.eot');
    src: url('font/futura-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/futura-medium-webfont.woff2') format('woff2'),
         url('font/futura-medium-webfont.woff') format('woff'),
         url('font/futura-medium-webfont.ttf') format('truetype'),
         url('font/futura-medium-webfont.svg#futuramedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Futura Condensed Extrabold';
    src: url('font/futura-condensedextrabold-webfont.eot');
    src: url('font/futura-condensedextrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/futura-condensedextrabold-webfont.woff2') format('woff2'),
         url('font/futura-condensedextrabold-webfont.woff') format('woff'),
         url('font/futura-condensedextrabold-webfont.ttf') format('truetype'),
         url('font/futura-condensedextrabold-webfont.svg#futuracondensed_extrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Futura Condensed Medium';
    src: url('font/futura-condensedmedium-webfont.eot');
    src: url('font/futura-condensedmedium-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/futura-condensedmedium-webfont.woff2') format('woff2'),
         url('font/futura-condensedmedium-webfont.woff') format('woff'),
         url('font/futura-condensedmedium-webfont.ttf') format('truetype'),
         url('font/futura-condensedmedium-webfont.svg#futuracondensed_medium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Futura Condensed Italic';
    src: url('font/futura-mediumitalic-webfont.eot');
    src: url('font/futura-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/futura-mediumitalic-webfont.woff2') format('woff2'),
         url('font/futura-mediumitalic-webfont.woff') format('woff'),
         url('font/futura-mediumitalic-webfont.ttf') format('truetype'),
         url('font/futura-mediumitalic-webfont.svg#futuramedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'VAG Rounded Bold';
    src: url('font/vag_rounded_bold-webfont.eot');
    src: url('font/vag_rounded_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/vag_rounded_bold-webfont.woff2') format('woff2'),
         url('font/vag_rounded_bold-webfont.woff') format('woff'),
         url('font/vag_rounded_bold-webfont.ttf') format('truetype'),
         url('font/vag_rounded_bold-webfont.svg#vag_roundedbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
	font-family: 'Futura Condensed Medium';
	font-size: 18px;
	color: #c2a472;
	background: url(../img/background-brick.jpg) repeat;
}
a {
	text-decoration: none;
	outline: none;
}
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.clear { clear: both; }

/*========================*/
/*======== Header ========*/
/*========================*/
/* Computer */
header {
	font-family: 'VAG Rounded Bold';
	text-align: center;
	max-width: 1060px;
	margin: 0 auto;
}
header h1 {
	font-size: 8.4em;
	letter-spacing: 0.15em;
	text-align: center;
	margin: 14px auto 0;
}
header h1 span { color: #049ede; }
header h2 {
	font-size: 1.75em;
	letter-spacing: 0.08em;
	text-transform: uppercase;
	margin: -4px auto 36px;
}

/* Social Icons */
#social {
	position: fixed;
	top: 10px;
	right: 10px;
	width: 40px;
	height: 150px;
	z-index: 99999;
}
#social a.icon {
	display: block;
	width: 40px;
	height: 40px;
	background: url(../img/social-icons.png) no-repeat;
	margin-bottom: 10px;
}
#social a.facebook { background-position: 0 0; }
#social a.instagram { background-position: -40px 0; }
#social a.gplus { background-position: -120px 0; }
#social a:hover, #social a:focus { opacity: 0.8; }

@media only screen and (max-width: 1330px) {
	header h1 {
		font-size: 7em;
		letter-spacing: 0.1em;
		margin: 10px auto 0;
	}
	header h2 {
		font-size: 1.6em;
		letter-spacing: 0.08em;
	}
}

/* Responsive Tablette */
@media only screen and (max-width: 960px) {
	header h1 { font-size: 4.5em; }
	header h2 {
		font-size: 1.2em;
		margin: 0px auto 35px;
	}
}

/* Responsive Smartphone */
@media only screen and (max-width: 660px) {
	header h1 { font-size: 2.5em; }
	header h2 {
		font-size: 1em;
		letter-spacing: 0.1em;
		margin: 0px auto 35px;
	}
}
@media only screen and (max-width: 600px) {
	header h2 { margin-bottom: 20px; }
	#social {
		position: relative;
		top: inherit;
		right: inherit;
		width: 180px;
		height: 40px;
		margin: 0 auto 30px;
		z-index: 0;
	}
	#social a.icon {
		float: left;
		margin: 0 10px;
	}
}

/*======================*/
/*======== Menu ========*/
/*======================*/

/* Computer */
nav {
	position: relative;
	width: 90%;
	left: 2%;
	max-width: 1300px;
	line-height: 1;
	margin: 0 auto 30px;
}
nav a {
	position: relative;
	display: inline-block;
	width: 16%;
	padding-bottom: 10px;
	outline: none;
	color: #c2a472;
	text-decoration: none;
	font-size: 1.5em;
}
nav a.home { width: 15%; }
nav a.carte { width: 13.5%; }
nav a.commande { width: 16%; }
nav a.reserve { width: 18.5%; }
nav a.boToo { width: 19.5%; }
nav a.contact { width: 15%; }
nav a:hover, nav a:focus, nav a.active {
	outline: none;
	color: #049ede;
}

/* Effect 17: move up fade out, push border */
.cl-effect-17 a::before {
	color: #c2a472;
	content: attr(data-hover);
	position: absolute;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	pointer-events: none;
}
.cl-effect-17 a::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 90%;
	height: 3px;
	background: #049ede;
	opacity: 0;
	-webkit-transform: translateY(5px);
	-moz-transform: translateY(5px);
	transform: translateY(5px);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	pointer-events: none;
}
.cl-effect-17 a:hover::before, .cl-effect-17 a:focus::before, 
.cl-effect-17 a.active::before, .cl-effect-17 a.active::before {
	opacity: 0;
	-webkit-transform: translateY(-2px);
	-moz-transform: translateY(-2px);
	transform: translateY(-2px);
}
.cl-effect-17 a:hover::after, .cl-effect-17 a:focus::after, 
.cl-effect-17 a.active::after, .cl-effect-17 a.active::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

/* Responsive Tablette */
@media only screen and (max-width: 960px) { .menu__item { width: 32.5%; } }
@media only screen and (max-width: 840px) {
	nav { left: 7%; }
	nav a {
		width: 32% !important;
		margin-top: 20px;
	}
	.cl-effect-17 a::after { width: 70%; }
}

/* Responsive Smartphone */
@media only screen and (max-width: 600px) { nav { display: none; } }

/*==========================*/
/*======== Mentions ========*/
/*==========================*/
#mentions {
	width: 56%;
	margin: 30px auto;
}
#mentions h2 {
	font-size: 2em;
	text-align: center;
}
#mentions h3 {
	font-size: 1.6em;
	margin: 30px 0 10px;
}
#mentions p { font-size: 1.2em; }
#mentions p a { color: #0899d5; }
#mentions p a:hover, #mentions p a:focus {
	color: #c2a472;
	text-decoration: underline;
}

@media only screen and (max-width: 1600px) { #mentions { width: 80%; } }

/* Responsive Tablette */
@media only screen and (max-width: 800px) { #mentions { width: 90%; } }

/*========================*/
/*======== Footer ========*/
/*========================*/
footer p {
	text-align: center;
	font-size: 0.9em;
	padding: 30px 5%;
}
footer p a { color: #0899d5; }
footer p a:hover, footer p a:focus {
	color: #c2a472;
	text-decoration: underline;
}
footer p a.author { color: #c2a472; }
footer p a.author:hover, footer p a.author:focus { text-decoration: underline; }

/* Responsive Smartphone */
@media only screen and (max-width: 600px) {
	footer p {
    	text-align: right;
    	padding: 30px 5% 30px 20%;
	}
}
@media only screen and (max-width: 400px) { footer p { padding: 30px 5% 30px 26%; } }